@model damacana.Models.Cart

@{
    ViewBag.Title = "AddToCart";
}

    <h2>Add To Cart</h2>

@*

    @using (Html.BeginForm("SaveToCart", "Home", FormMethod.Get))
    {
        @Html.DropDownList("Products", new SelectList(Model.Id), new { id = "SelectedProductList" })
    }
*@
        @using (Html.BeginForm("SaveToCart", "Home", FormMethod.Get))
        {
            <div class="btn-group" role="group" aria-label="a">


            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Product From Product List
                    <span class="caret"></span>
                </button>

                @*
                    http://www.mikesdotnetting.com/article/128/get-the-drop-on-asp-net-mvc-dropdownlists                    
                *@

                <ul class="dropdown-menu">
                    <li> <a href="~/Home/SaveToCart"> Hayat </a> </li>
                    <li> <a href="~/Home/SaveToCart"> Pinar </a> </li>
                    <li> <a href="~/Home/SaveToCart"> Erikli </a> </li>
                    <li> <a href="~/Home/SaveToCart"> Sirma </a> </li>
                    <li> <a href="~/Home/SaveToCart"> Other </a> </li>
                </ul>

            </div>
        </div>
    }



