@using damacana.Models

@model List<damacana.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<h2>
    Add New Product
</h2>
<form>
    </form>
@foreach (Product p in Model)
{
    <h2>
        @p.Name (@p.Id)
    </h2>
    <p>
        @p.Price
    </p>
}
