@using damacana.Models

@model List<damacana.Models.Product>

@{
    ViewBag.Title = "Home Page";
}


<a href="@Url.Action("AddProduct")"> Add New Product </a>


<h2>
  Products
</h2>
@foreach (Product p in Model)
{
    <h2>
        @p.Name (@p.Id)
    </h2>
    <p>
        @p.Price
    </p>
    <input class="btn btn-default" type="button" value="Add Product to Cart">

}
